.cart{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding:25px;
    background-color:#0062be;
	
}
.link{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
}

/*--------------------------formulario-------------------------*/


main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
	
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 18px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */


.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
    
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}


.formulario__btn {

    background: #40e14d;
    color: rgb(0, 0, 0);
}
.formulario__mensaje {

    background: #510000;
}

.formulario__btn {
    height: 46px;
    line-height: 5px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 2px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
#cartt{
    background: #f1f1f182;
	padding:20px;

}
.hacer-compras{
    padding: 158px;
}
.info{
	padding: 10px;
	
}

/* ----- formulario ----- */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/*
body{
height: 100%; 
font-family: 'Noto Sans', sans-serif;
background-color: #ab4493; 
}*/


.contact_form{  
width: 460px; 
height: auto;
margin: 80px auto;
border-radius: 10px;  
padding-top: 30px;
padding-bottom: 20px;  
background-color: #fbfbfb; 
padding-left: 30px; 
}


input{
background-color: #fbfbfb; 
width: 408px; 
height: 40px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #ab4493; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
}




label{
display: block; 
float: center;  
}


button{
height: 45px; 
padding-left: 5px;
padding-right: 5px;   
margin-bottom: 20px; 
margin-top: 10px;   
text-transform: uppercase;
background-color: #ab4493; 
border-color: #ab4493; 
border-style: solid; 
border-radius: 10px;  

cursor: pointer;
}


button p{
color: #fff; 
}


#span{
color: #ab4493; 
}


.aviso{
font-size: 13px;  
color: #0e0e0e;  
}



.p{
font-size: 14px; 
color: #0e0e0e; 
}


::-webkit-input-placeholder {
color: #a8a8a8;
}


::-webkit-textarea-placeholder {
color: #a8a8a8;
}


.formulario input:focus{
outline:0;
border: 1px solid #97d848;
}


.formulario textarea:focus{
outline:0;
border: 1px solid #97d848;
}
