.cart{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding:25px;
    background-color:#0062be;
	
}
.link{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
}

#cartt{
    background: #f1f1f182;
	padding:20px;
} 
.hacer-compras{
    padding: 158px;
} 

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #ab4493; /* Blue */
    border-radius: 50%;
    width: 86px;
    height: 86px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
