.cart{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding:25px;
    background-color:#0062be;
	
}
.link{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
}

#cartt{
    background: #f1f1f182;
	padding:20px;
} 
.hacer-compras{
    padding: 158px;
} 