h1{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    font-size: 15px;
}
.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav ul{
    position: relative;
    display: flex;
    
}
.nav ul li{
    list-style: none;
    
}
.nav ul li a{
    font-size: 14px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    margin: 13px;
}